{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist">
            <a href="{{ base_path }}/">
              <span class="lang-zh"> {{ site.title }}</span>
              <span class="lang-en" style="display:none;">{{ site.title_en }}</span>
            </a>
          </li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <!-- 原始方案 -->
            <!-- <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li> -->

            <!-- 修改方案一
            <div class="lang-zh">
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
            </div>
            <div class="lang-en" style="display:none;">
              <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.entitle }}</a></li>
            </div> -->

            <!-- 修改方案二 -->
            <li class="masthead__menu-item">
              <a href="{{ domain }}{{ link.url }}">
                <span class="lang-zh">{{ link.title }}</span>
                <span class="lang-en" style="display:none;">{{ link.entitle }}</span>
              </a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>