---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <button id="langToggle" onclick="toggleLanguage()" style="position:fixed;top:20px;right:20px;">
    {{ site.data.lang[page.lang].language_btn }}
  </button>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    <header class="header">
      <h1>{{ site.data.lang[page.lang].welcome }}</h1>
    </header>
    
    <nav>
      <a href="#about">{{ site.data.lang[page.lang].about }}</a>
      <a href="#projects">{{ site.data.lang[page.lang].projects }}</a>
    </nav>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
