---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <nav>
    <a href="/">{{ site.data.lang[page.lang].home }}</a>
    <a href="/about/">{{ site.data.lang[page.lang].about }}</a>
    <a href="/posts/">{{ site.data.lang[page.lang].blog }}</a>
  </nav>

  <body>

    <!-- 语言切换按钮 -->
    <button id="language-toggle" class="language-toggle">EN</button>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

<script src="{{ '/assets/js/language-switcher.js' | relative_url }}"></script>